body {
    margin: 0;
    
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}



/*Container
=====================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



/*Header
=====================*/
.header {
    width: 100%;
    height: 100px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header.fixed {
    height: auto;
	position: fixed;
    background-color: #2a2e48;
}


.header.fixed .header__inner {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 0;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    
    border-bottom: 1px solid #515369;
}



/*Navigation
=====================*/
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}


.nav__link {
    margin-left: 50px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s liner;
}


.nav__link:first-child {
    margin: 0;
}


.nav__link:hover {
    opacity: 1;
}



/*Itro
=====================*/
.intro {
    height: 750px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: url("../img/intro-bg.jpg");
    background-color: #2a2e48;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}


.intro__title {
    margin: 0 0 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
}


.intro__subtitle {
    margin-bottom: 77px;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
}



/*Button
=====================*/
.btn {
    padding: 18px 50px;
    display: inline-block;
    vertical-align: top;
    
    border-radius: 3px;
    border: 0;
    
    text-align: center;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 13;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.1s liner;
}


.btn--red {
    background-color: #e84545;
}


.btn--long {
    min-width: 280px;
}


.btn--red:hover {
    background-color: #b13636;
    
}



/*Features
=====================*/
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 86px 0;
}

.features__item {
    width: 33.333333%;
    padding: 0 48px;
    margin: 36px 0;
    text-align: center;
}

.features__icon {
    margin-bottom: 35px;
}

.features__title {
    margin-bottom: 25px;
    
    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6c7279;
}


/*Works
=====================*/
.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {    
    width: 25%;
    height: 350px;
    
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    
    position: relative;
    overflow: hidden;
}


.works__item:hover .work__content {
    opacity: 1;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    transform: translate3d(-50%, -50%, 0);
}

.work__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(232, 69, 69, 0.9);
    opacity: 0;
    
    text-align: center;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    transition: opacity 0.2s linear;
}

.work__title {
    margin-bottom: 12px;
    
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.work__text {
    font-size: 14px;
    color: #ffffff;
}



/*Team
=====================*/
.team {
    margin: 100px 0 70px;
}


.team__inner {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 -15px;
}


.team__item {
    padding: 0 15px;
    width: 25%;
    margin-bottom: 30px;
}


.team__photo{
    margin-bottom: 30px;
    
    display: block;
    min-width: 100%;
    height: auto;
}


.team__name{
    margin-bottom: 15px;
    
    font-size: 22px;
    color: #2d3033;
}


.team__prof{
    margin-bottom: 29px;
    
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}


.team__text{
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 30px;
}



/*Social
=====================*/
.social{
    display: flex;
}


.social--footer {
    justify-content: center;
}


.social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    
    background-color: #ffffff;
    border: 1px solid #e8ecee;
    
    transition: bacrground 0.1s linear;
}


.social__item:hover {
    background-color: #e8ecee;
}


.social__item:hover .social__icon {
    fill: #000000;
}


.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 2px;
}


.social--footer .social__item:hover {
    background-color: #ffffff;
}


.social__icon {
    display: block;
    height: 18px;
    
    fill: #c6cacc;
    
    transition: fill 0.1s linear;
}


.social--footer .social__icon {
    fill: #ffffff;
}



/*Reviews
=====================*/
.reviews {
    overflow: hidden;
    background-color: #53354a;
}


.reviews__slider {
    height: 500px;
    overflow: hidden;
}


.reviews__slider.slick-initialized {
    height: auto;
}


.slick-dots {
    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
    padding-bottom: 5px;
    
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}


.slick-dots li {
    margin: 0px 5px;
}


.slick-dots button {
    width: 15px;
    height: 15px;
    padding: 0;
    
    background: #ffffff;
    border-radius: 50%;
    border: 0;
    opacity: 0.5;
    cursor: pointer;
    
    font-size: 0;
    color: transparent;
}


.slick-dots button:focus {
    outline: 0;
}


.slick-dots .slick-active button {
    opacity: 1;
}


.reviews__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}


.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    
    transform: translateY(-50%);
}


.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 85px;
    width: 50%;
}


.reviews__text {
    font-family: Cardo, sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;
    
    margin-bottom: 30px;
}


.reviews__author {
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}



/*Download
=====================*/
.download {
    margin: 100px 0;
    
    text-align: center;
}


.download__title {
    font-size: 28px;
    font-weight: 300;
    color: #2d3033;
    
    margin-bottom: 16px;
}


.download__text {
    font-size: 13px;
    color: #2d3033;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    
    margin-bottom: 40px;
}



/*Footer
=====================*/
.footer {
    background-color: #3a3e64;
}


.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}


.footer__block {
    padding: 0 15px;
    width: 33.33333%;
    
    text-align: center;
}


.footer__title {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    
    margin-bottom: 22px;
}


.footer__address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.5)
}


.footer__text {
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.5)
}



/*Copyright
=====================*/
.copyright {
    padding: 29px 0;
    background-color: #313454;
}


.copyright__text {
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 1.6; 
}


.copyright__text span {
    color: #ffffff;
}


#heart {
    color: #e84545;
}




/*Burger
=====================*/

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}


.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    
    background-color: #ffffff;
    
    font-size: 0;
    color: transparent;
    
    position: relative;
}


.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    
    position: absolute;
    left: 0;
    z-index: 1;
    
    background-color: #ffffff;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}


/*Media
=====================*/
@media (max-width: 1300px) {
    /*Works*/
    .works__item {
        width: 50%;
    }
}


@media (max-width: 991px) {
    
    /*Nav*/
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;
        
        background-color: #2a2e48;
        
        text-align: right;
        
        position: absolute;
        top: 100%;
        right: 0;  
    }
    
    .nav.show {
        display: flex;
    }
    
    .nav__link {
	    padding: 9px 15px;
    }
    
    /*Burger*/
    .burger {
        display: block;
    }
    
    /*Intro*/
    .intro__title {
        font-size: 40px;
    }
    
    /*Feature*/
    .features__item {
        width: 50%;
    }
    
    /*Team*/
    .team__item {
        width: 50%;
        text-align: center;
    }
    
    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }
    
    /*Social*/
    .social {
        justify-content: center;
    }
    
    /*Reviews*/
    .reviews__photo {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .reviews__content {
        padding: 10px;
        width: 100%;
        padding-bottom: 15px;
    }
}


@media (max-width: 767px) {
    
    /*Intro*/
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    
    .intro__title {
        font-size: 30px;
    }
    
    .intro__subtitle {
        font-size: 10px;
    }
    
    
    /*Feature*/
    .features {
        margin: 40px 0;
    }
    
    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
        /*Works*/
    .works__item {
        width: 100%;
        height: 300px;
    }
    
    /*Team*/
    .team {
	margin: 60px 0 30px;
    }
    
    .team__item {
        width: 100%;
    }
    
    /*Reviews*/
    .reviews__text {
        font-size: 25px;
    }
    
    /*Download*/
    .download {
        margin: 50px 0;
        font-size: 24px;
    }
    
    .btn--long {
        min-width: 260px;
    }
    
    /*Footer*/
    .footer__inner {
        padding: 30px 0;
    }
    
    .footer__block {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .footer__block:last-child {
        margin-bottom: 0;
    }
}


@media (max-width: 414px) {
    .reviews__img {
        right: -100px;
    }
}





















